*{
    padding: 0;
    margin: 0;
}



body, html{
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;     /* centraliza na vertical */
    height: 100vh;           /* ocupa toda a altura da tela */
    background-image: url(background.png);

  }
  .quadro {
    background-color:#f1c994;
    height: 95%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
  }
  
  header h1{
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;   
   
  }
  #caixaIdade div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 5px; 
    padding: 5px;
    width: 80%;


  }

  #caixaIdade div label{
    font-size:x-large;
    
  }

  #caixaIdade div input{
        padding: 8px;
        border-radius: 5px;
        width: 90%;
        font-size: large;
        background-color: #ffffff;
  }

  #caixaIdade  button{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: large;
    background-color: #72A16E;
    font-weight: 600;
    border-style: none;
    margin-bottom: 15px;
    
  }

  button:hover{
    cursor: pointer;

  }
   div #radio{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;


  }

  div #radio label{
    display: flex;
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 1.4em;
    font-family: monospace;
    
  }

  .resultado-scroll {
      max-height:50%;
      overflow-y: scroll;
    
  /* Esconde a barra no Chrome, Edge e Safari */
  .resultado-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

    }
  
  .resultado-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }
  

  /* html no js*/
  .vacina-bloco{
    background-color: #fafcfd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px #F4A97D ;
    margin-bottom: 10px;
    margin-top: 10px;
  }


  .txt-idade{
    font-size: large;
    font-weight: 700;
    padding: 10px;
    background-color: #c4cfc2;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .vacinas button{
    display: flex;
    flex-direction: row;
    font-size: 1em;
    border: none;
    padding:5px;
    border-radius: 5px;
    
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -400px; /* Escondida inicialmente */
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
  }
  
  .sidebar.ativa {
    right: 0;
  }


  .titulo_info{
    padding: 10px;
    font-size: 2rem;
  }

  .vacina_info{
    padding: 10px;
    font-size: 1.2em;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sidebar button{
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    background-color:#72A16E;
    font-weight: 700;
    border-style: none;
  }

  h3{
    font-size: 1.2rem;
    color:#000;
    font-weight: 400;
  }