*{
    padding: 0;
    margin: 0;
}



body, html{
    height: 100%;
    margin: 0;
    background-image: url(vacinaPhoto.webp);
}

.container {
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;     /* centraliza na vertical */
    height: 100vh;           /* ocupa toda a altura da tela */
    background-image: url(1600w-pmqy1JflyBc.webp);

  }
  .quadro {
    background-color:#f0f8ff;
    height: 95%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
  }
  
  header h1{
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;    
  }
  #caixaIdade div {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px; 
    padding: 30px;
    width: 80%;


  }

  #caixaIdade div label{
    font-size:x-large;
    
  }

  #caixaIdade div input{
        padding: 8px;
        border-radius: 5px;
        width: 90%;
        font-size: large;
        background-color: #ffffff;
  }

  #caixaIdade  button{
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: large;
    background-color: #357ABD;
    color: #ffffff;
    font-weight: 600;
    border-color: #0b3768;
    margin-bottom: 15px;
    
  }

  button:hover{
    cursor: pointer;

  }
   div #radio{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;


  }

  div #radio label{
    display: flex;
    align-items: center;
    display: flex;
    gap: 5px;
    font-size: 1.4em;
    font-family: monospace;
    
  }

  .resultado-scroll {
      max-height:50%;
      overflow-y: scroll;
    
  /* Esconde a barra no Chrome, Edge e Safari */
  .resultado-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }

    }
  
  .resultado-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Edge */
  }
  

  /* html no js*/
  .vacina-bloco{
    background-color: #fafcfd;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 2px 2px 6px #151627;
    margin-bottom: 10px;
    margin-top: 10px;
  }


  .txt-idade{
    font-size: large;
    font-weight: 700;
    padding: 10px;
    background-color: #a9c0da;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .vacinas{
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
  }